<%= form_with(model: product_admin, url: is_new ? product_admins_path(product_admin) : product_admin_path(product_admin)) do |form| %>
<% if product_admin.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(product_admin.errors.count, "error") %> prohibited this product_admin from being saved:</h2>
    <ul>
        <% product_admin.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="actions">
    <div class="field">
        <%=form.label :name %>
        <%=form.text_field :name %>
        <% @product_admin.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%=form.label :description %>
        <%=form.text_field :description %>
        <% @product_admin.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%=form.label :price %>
        <%=form.number_field :price %>
        <% @product_admin.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%=form.label :sale_price %>
        <%=form.number_field :sale_price %>
        <% @product_admin.errors.full_messages_for(:sale_price).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%=form.label :quantity %>
        <%=form.number_field :quantity %>
        <% @product_admin.errors.full_messages_for(:quantity).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%=form.label :image %>
        <%=form.file_field :image,  accept: "image/*" %>
        <% @product_admin.errors.full_messages_for(:image).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%=form.label :images %>
        <%=form.file_field :images,  accept: "image/*", multiple:true %>
        <% @product_admin.errors.full_messages_for(:images).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div class="field">
        <%= form.submit %>
    </div>
</div>
<% end %>